
body {
	text-align: center;
	font-family: Arial;
}

#main_content {
	display: grid;
	width: 800px;
	margin: auto;
	background-color: lightblue;
}

#chart_storage {
	border-width: 1px;
	border-color: black;
}
