
body {
	text-align: center;
	font-family: Cambria, serif;
	line-height: 0;
}

p {
	line-height: 20px;
}

p.tighten {
	display: grid;
	width: 400px;
	margin: auto;
}

p.single {
	line-height: 0.2;
}

p.left {
	text-align: left;
}

input {
	max-height: 25px;
}

div {
	border-width: 2px;
	border-color: black;
}

div.side-by-side {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 14px;
}

div.towerSpecs {
	display: grid;
	grid-template-columns: 10% 40% 10% 40%;
	grid-gap: 2px;
	margin-left: 20%;
	margin-right: 20%;

	text-align: left;
	line-height: 0;
	font-size: 14px;
}

#mainContent {
	display: grid;
	width: 600px;
	margin: auto;
	background-color: lightblue;
}

#chartStorage {
	border-width: 1px;
	border-color: black;
}
