
body {
	text-align: center;
	font-family: Cambria, serif;
	line-height: 0;
	background-color: lightblue;
}

p {
	line-height: 20px;
	margin: 0;
}

p.tighten {
	display: grid;
	width: 400px;
	margin: auto;
}

p.single {
	line-height: 2;
}

p.left {
	text-align: left;
}

input {
	max-height: 25px;
}

div {
	border-width: 2px;
	border-color: black;
}

div.spacing {
	height: 10px;
}

div.side-by-side {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-row-gap: 5px;

	margin-left: 20%;
	margin-right: 20%;
	font-size: 14px;
}

div.towerSpecs {
	display: grid;
	align-items: center;

	grid-template-columns: 10% 40% 10% 40%;
	grid-column-gap: 10px;
	grid-row-gap: 5px;

	margin-left: 20%;
	margin-right: 25%;

	text-align: left;
	line-height: 0;
	font-size: 14px;
}

img {
	height: 275px;
	opacity: 0.25;

}

#mainContent {
	display: grid;
	width: 600px;
	margin: auto;
	background-color: white;
}

#overlapContainer {
	width: 600px;
	position: relative;
}

#left {
	width: 600px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

#right {
	width: 600px;
	position: absolute;
	left: 0;
	top: 0;
}

#majorSpacer {
	height: 300px;
}
