:root {
  --select-border: lightblue;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

select {
  color: white;
  background-color: grey;
}

select,
.select:after {
  grid-area: select;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;

  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  background-color: grey;
  border-color: lightblue;
  border-style: solid;
  border-width: 0 2px 2px 0;

  font-size: 1.25rem;
  color: white;
  cursor: pointer;
  line-height: 1.1;
}

.select:hover {
  opacity: .85;
  border-color: var(--select-border);
  border-width: 0 1px 1px 0;
}

.select::after {
  justify-self: end;
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(50% 35%, 100% 0, 50% 100%, 0 0);
}

.select-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
}

.select-wrapper p {
  margin: 0;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 100vh;
  background-color: rgba(60,60,60, 0.75);
  z-index: 100;
}

.side-button {
  position: fixed;
  top: 10px;
  left: -80px;
  width: 100px;
  height: 50px;
  z-index: 101;
  cursor: pointer;

  border-radius: 0 50px 50px 0;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  font-size: 20px;
}

.side-button:hover {
  left: 0px;
}
